body {
  font-family: "Montserrat", sans-serif;
  color: #cc0f39;
  background: #1f1f20;
}

.page {
  padding-bottom: 100px;
  padding-top: 100px;
}
.page-light {
  background: #020202;
}
.page-dark {
  background: #1f1f20;
}
.page-dark a {
  color: white;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  animation: showA 3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 46px;
}

.nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.nav-item {
  margin-right: 52px;
}
.nav-item a {
  transition: all 0.5s ease 0s;
}
.nav-item a:hover {
  color: #0ffbf9;
  font-size: 20px;
}
.nav-link {
  color: #cc0f39;
  text-decoration: none;
  font-size: 14px;
}
.nav-item .nav-item {
  margin-left: 50px;
}

.cart {
  background-image: url(../img/basket.svg);
  padding-left: 35px;
  display: block;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 0 center;
}
.cart-count {
  display: block;
  color: #ffff;
  background-position: 0 center;
  background-repeat: no-repeat;
  font-size: 12px;
  font-weight: 700;
  padding: 12px 0;
}

.main {
  display: flex;
  justify-content: space-between;
}
.main-item {
  flex: 0 0 50%;
}

.btm {
  background-color: #cc0f39;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 28px;
  transition: all 1s ease 0s;
}
.btm-xs {
  padding: 8px 28px;
}
.btm-center {
  display: block;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
}
.btm-center span {
  margin-right: 15px;
}

.btm:hover {
  background: #0ffbf9;
  color: #020202;
}

.sale {
  animation: showA 2s;
}
.sale-description {
  font-size: 30px;
  letter-spacing: -0.6px;
}
.sale-title {
  font-size: 50px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 60px;
}

.box {
  position: relative;
  background-color: black;
  animation: showRight 1s;
}
.box-price {
  position: absolute;
  right: 0;
  text-align: right;
  top: 35px;
}
.box-price_old {
  font-size: 24px;
  font-weight: 700;
}
.box-price_new {
  font-size: 42px;
  font-weight: 700;
  color: #0ffbf9;
  margin-top: 17px;
}

@keyframes showLeft {
  from {
    left: -30%;
    opacity: 0;
  }
  to {
    left: 0;
  }
}
@keyframes showRight {
  from {
    right: -30%;
    opacity: 0;
  }
  to {
    right: 0;
  }
}
@keyframes showA {
  from {
    opacity: 0;
  }
}
.notice {
  text-align: center;
  background: #cc0f39;
  color: #020202;
  text-transform: uppercase;
  padding: 50px 0px;
}
.notice-title {
  font-size: 30px;
}
.notice-title span {
  font-weight: 700;
}
.collection {
  display: flex;
  justify-content: space-between;
}
.collection-item {
  padding: 30px 0;
  flex: 0 0 50%;
  background-repeat: no-repeat;
  background-position: calc(100% - 120px) bottom;
  background-size: 190px 171px;
}
.collection-title {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}
.collection-description {
  font-size: 16px;
  margin-bottom: 30px;
}
.collection-man {
  background-image: url("../img/man.png");
}
.collection-woman {
  background-image: url("../img/woman.png");
}

.title-h2 {
  text-align: center;
  font-size: 30px;
}

.product {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.product-title {
  font-weight: 600;
}
.product-price {
  color: #cc0f39;
  font-size: 18px;
  font-weight: 600;
}
.product-item {
  flex: 0 0 24%;
  position: relative;
}
.product-item:before, .product-item:after {
  content: "";
  display: block;
  width: 100%;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
}
.product-item:before {
  background-image: url("/img/item-top.svg");
}
.product-item:after {
  background-image: url("/img/item-bot.svg");
}

.footer {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
}
.footer-list-link {
  font-weight: 100;
  font-size: 14px;
  color: #0ffbf9;
  text-decoration: none;
}
.footer-list-title {
  font-size: 12px;
  font-weight: 700;
}
.footer-list-item {
  margin-bottom: 10px;
  margin-right: 50px;
  padding-left: 0;
  list-style-type: none;
}
.footer-logo {
  flex: 0 0 40%;
}
.footer-navigation {
  flex: 0 0 60%;
  justify-content: right;
  display: flex;
}