$accent: #cc0f39;
$dark: #1f1f20;
$light: #020202;
$gray: #0ffbf9;
$light-gray: #cc0f39;
$dark-gray: #cc0f39;
$important: #0ffbf9;

@mixin breakpoint($point) {
  @if $point == lg {
    @media (max-width: 992px) {
      @content;
    }
  }
  @else if $point == md {
    @media (max-width: 768px) {
      @content;
    }
  }
  @else if $point == sm {
    @media (max-width: 576px) {
      @content;
    }
  }
  @else if $point == xs {
    @media (max-width: 320px) {
      @content;
    }
  }
  @else if $point == minlg {
    @media (min-width: 993px) {
      @content;
    }
  }
}
