@import "variabies";

body {
  font-family: "Montserrat", sans-serif;
  color: $accent;
  background: $dark;
}

.page {
  padding-bottom: 100px;
  padding-top: 100px;
  &-light {
    background: $light;
  }

  &-dark {
    background: $dark;
    a {
      color: white;
    }
  }
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  animation: showA 3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 46px;
}
nav {
  @include breakpoint(lg) {
    display: none;
  }
}
.nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  @include breakpoint(lg) {
    display: none;
  }
  &-item {
    a {
      transition: all 0.5s ease 0s;
    }
    a:hover {
      color: $gray;
      font-size: 20px;
    }
    margin-right: 52px;
  }
  &-link {
    color: $accent;
    text-decoration: none;
    font-size: 14px;
  }
  &-item {
    .nav-item {
      margin-left: 50px;
    }
  }
  &-bar {
    position: absolute;
    background-color: $dark;
    top: 0;
    right: 100%;
    height: 100vh;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: position 2.9s;
    -webkit-transition: position 2.9s;
    -moz-transition: position 2.9s;
    -ms-transition: position 2.9s;
    -o-transition: position 2.9s;
  }
}

.cart {
  background-image: url(../img/basket.svg);
  padding-left: 35px;
  display: block;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 0 center;
  &-count {
    display: block;
    color: #ffff;
    background-position: 0 center;
    background-repeat: no-repeat;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 0;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  @include breakpoint(lg) {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  &-item {
    @include breakpoint(lg) {
      flex: 0 0 100%;
      margin-top: 22px;
    }
    flex: 0 0 50%;
  }
}

.btm {
  background-color: $accent;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 28px;
  transition: all 1s ease 0s;
  &-xs {
    padding: 8px 28px;
  }
  &-center {
    display: block;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    span {
      margin-right: 15px;
    }
  }
}
.btm:hover {
  background: $gray;
  color: $light;
}

.sale {
  animation: showA 2s;
  &-description {
    @include breakpoint(sm) {
      font-size: 20px;
    }
    font-size: 30px;
    letter-spacing: -0.6px;
  }
  &-title {
    font-size: 50px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

.box {
  position: relative;
  animation: showRight 1s;
  @include breakpoint(lg) {
    max-width: 600px;
    margin: 50px auto 0;
  }
  @include breakpoint(sm) {
    display: none;
  }

  &-price {
    position: absolute;
    right: 0;
    text-align: right;
    top: 35px;
    &_old {
      font-size: 24px;
      font-weight: 700;
    }
    &_new {
      font-size: 42px;
      font-weight: 700;
      color: $important;
      margin-top: 17px;
    }
  }
}
@keyframes showLeft {
  from {
    left: -30%;
    opacity: 0;
  }

  to {
    left: 0;
  }
}

@keyframes showRight {
  from {
    right: -30%;
    opacity: 0;
  }

  to {
    right: 0;
  }
}

@keyframes showA {
  from {
    opacity: 0;
  }

  to {
  }
}

.notice {
  text-align: center;
  background: $accent;
  color: $light;
  text-transform: uppercase;
  padding: 50px 0px;
  &-title {
    font-size: 30px;
    span {
      font-weight: 700;
    }
  }

  &-description {
  }
}

.collection {
  display: flex;
  justify-content: space-between;
  @include breakpoint(lg) {
    flex-wrap: wrap;
  }
  &-item {
    padding: 30px 0;
    flex: 0 0 50%;
    background-repeat: no-repeat;
    background-position: calc(100% - 120px) bottom;
    background-size: 190px 171px;
    @include breakpoint(lg) {
      flex: 0 0 100%;
    }
    @include breakpoint(sm) {
      padding: 27px 0 84px;
      background-size: 153px 130px;
      background-position: 100% bottom;
    }
  }
  &-title {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }
  &-description {
    font-size: 16px;
    margin-bottom: 30px;
  }
  &-man {
    background-image: url("../img/man.png");
  }
  &-woman {
    background-image: url("../img/woman.png");
  }
}

.title-h2 {
  text-align: center;
  font-size: 30px;
}

.product {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  @include breakpoint(lg) {
    flex-wrap: wrap;
  }
  &-title {
    font-weight: 600;
  }
  &-price {
    color: $accent;
    font-size: 18px;
    font-weight: 600;
  }
  &-item {
    flex: 0 0 24%;
    position: relative;
    @include breakpoint(lg) {
      flex: 0 0 48%;
      margin-bottom: 25px;
    }
    @include breakpoint(sm) {
      flex: 0 0 96%;
      margin-bottom: 25px;
    }
    &:before,
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 25px;
      background-size: 100% 25px;
      background-repeat: no-repeat;
    }
    &:before {
      background-image: url("/img/item-top.svg");
    }
    &:after {
      background-image: url("/img/item-bot.svg");
    }
  }
}

.footer {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  @include breakpoint(sm) {
    flex-direction: column;
  }
  &-list {
    &-link {
      font-weight: 100;
      font-size: 14px;
      color: #0ffbf9;
      text-decoration: none;
    }
    &-title {
      font-size: 12px;
      font-weight: 700;
    }
    &-item {
      margin-bottom: 10px;
      margin-right: 50px;
      padding-left: 0;
      list-style-type: none;
    }
  }
  &-logo {
    display: none;
    flex: 0 0 40%;
  }
  &-navigation {
    flex: 0 0 60%;
    justify-content: right;
    display: flex;
  }
}

.toggle {
  left: 0;
  box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
  z-index: 9999;
  &-menu {
    background-color: $dark;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 7px 12px;
    cursor: pointer;
    @include breakpoint(minlg) {
      display: none;
    }
    @include breakpoint(xs) {
      width: 18px;
      height: 18px;
    }
  }
  .line1 {
    background-color: #000000;
    transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
  }
  .line2 {
    display: none;
  }
  .line3 {
    background-color: #000000;
    transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
  }
  .toggle-menu {
    background-color: white;
  }
}

.line {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}

.nav-list {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  &-item {
    text-align: center;
    padding: 20px 0;
  }
}
